body{
  font-family:Arial,sans-serif;
  text-align:center;
  background:#f7f7f7;
  margin:0;
  padding:10px
}
#reader{
  width:90vw;
  max-width:420px;
  margin:20px auto
}
select,button{
  width:90%;
  max-width:420px;
  padding:14px;
  margin:8px;
  font-size:18px;
  border-radius:10px
}
button{
  background:#007bff;
  color:#fff;
  border:none
}
table{
  width:95%;
  margin:20px auto;
  border-collapse:collapse
}
th,td{
  border:1px solid #ccc;
  padding:10px
}
